{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% block style %}
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/templatemo-hexashop.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl-carousel.css' %}">
    <link rel="stylesheet" href="{% static 'css/lightbox.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% endblock %}
</head>
<body>
    {% block content %}
    {% endblock %}

    <footer>
        <div class="container">
            <div class="row">
                <!-- Company Info -->
                <div class="col-lg-4 col-md-6">
                    <h4>About Us</h4>
                    <p>We are a leading e-commerce platform offering the best deals on a wide range of products. Shop with us for a seamless experience and high-quality customer service.</p>
                    <p><strong>Address:</strong> 123 Market Street, Suite 100, New York, NY 10001</p>
                    <p><strong>Email:</strong> support@yourcompany.com</p>
                    <p><strong>Phone:</strong> +1 (800) 123-4567</p>
                </div>
    
                <!-- Navigation Links -->
                <div class="col-lg-2 col-md-6">
                    <h4>Quick Links</h4>
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Shop</a></li>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
    
                <!-- Customer Services -->
                <div class="col-lg-2 col-md-6">
                    <h4>Customer Service</h4>
                    <ul>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Shipping & Delivery</a></li>
                        <li><a href="#">Returns Policy</a></li>
                        <li><a href="#">Terms & Conditions</a></li>
                    </ul>
                </div>
    
                <!-- Social Media Links -->
                <div class="col-lg-4 col-md-6">
                    <h4>Connect with Us</h4>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
    
            <!-- Copyright and Credits -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-bottom text-center">
                        <p>Copyright © 2024 YourCompany. All Rights Reserved.</p>
                        <p>Designed by <a href="#">YourCompany</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>
